* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid black;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

.G1,
.G2,
.G3,
.G4,
.G5 {
  border: 1px solid black;
  display: flex;
  background-color: rgb(220, 220, 220);
}
